DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

S3_BUCKET_NAME="internal"
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_PUBLIC_URL=""

RESEND_API_KEY=""

ADMIN_REGISTER_KEY=""